body {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.displays { /* Correct code doesn't display in broswer hmm.. */
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  border: 1px dotted grey;
  border-radius: 2px;
  padding: 3px;
}

.grid-wrap {
  height: 100vh;
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 800px;
  
}

.grid div {
  border: 1px solid rgba(148, 148, 148, 0.5);
  color: rgba(148, 148, 148, 0.5);
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.grid div.dude {
  background-image: url("../assets/Red/redback.png");
  background-repeat: no-repeat;
  background-size: contain;
  
}

.grid div.obstacle-type-one {
  background-image: url("../assets/Blue/blueright.png");
  background-repeat: no-repeat;
  background-size: contain;
}