body {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header-wrap { /* Correct code doesn't display in broswer hmm.. */
  height: 10vh;
  width: 80vh;
  padding: 3px;
  border: 1px dotted coral;
  border-radius: 2px;
  margin: 3px;
  text-align: center;
}

.grid-wrap {
  height: 100vh;
  margin: 0;
  background-image: url('../assets/city_scape_and_assets_inprogress.png');
  background-repeat: no-repeat;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 600px;
  width: 600px;
  
}

.grid div {
  border: 1px solid rgba(148, 148, 148, 0.5);
  color: rgba(148, 148, 148, 0.5);
  flex-grow: 1;
  height: 10%;
  width: 10%;

}

.grid div.dude {
  background-image: url("../assets/Red/redback.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.grid div.obstacle-type-one {
  background-image: url("../assets/Blue/bluerightwalk1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.obstacle-type-two {
  background-image: url("../assets/cars/red-car-left.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.grid div.obstacle-type-three {
  background-image: url("../assets/cars/red-car-right.png");
  background-repeat: no-repeat;
  background-size: contain;
}